In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('input.csv', index_col = 'id')

In [25]:
df

    x    y     z
id
0   1  1.0   3.0
1   1  0.0   9.0
2   1  3.0   NaN
3   2  0.0  10.0
4   1  NaN   4.0
5   2  2.0   3.0

In [26]:
df = df.rename(columns = {'x':'col_x', 'y':'col_y', 'z': 'col_z'})

In [30]:
# Selecting subset first won't work in this case - need to try different methods for use on larger dataframes.
df.fillna(0).select_dtypes('float64').astype(int)
df.fillna(0, inplace = True)
df = df.astype(int)
df

In [33]:
# drop rows 1, 3, 4
df = df.drop([1, 3, 4], axis = 0)
df

In [36]:
# create a zero filled 2x3 DF
zero_df = pd.DataFrame(np.zeros((2, 3)), columns = ['col_x', 'col_y', 'col_z'])
zero_df

   col_x  col_y  col_z
0    0.0    0.0    0.0
1    0.0    0.0    0.0

In [38]:
# Concatenate the 2 DFs togetheer
df = pd.concat([df, zero_df], axis = 0)
df

In [44]:
# Sort values in col_x
df = df.sort_values('col_x', axis = 0)
df

   col_x  col_y  col_z
0    0.0    0.0    0.0
1    0.0    0.0    0.0
0    1.0    1.0    3.0
2    1.0    3.0    0.0
5    2.0    2.0    3.0

In [45]:
df = df.astype(int)
df.to_csv("./output.csv", index = False)